header.site-header {
	position: absolute;
	width: 100%;
	z-index: 999;
	p.site-title.h2 {
		@include breakpoint(small down) {
			font-size: clamp(1.2rem, 4.5vw, 1.5rem);
		}
	}
	#top-bar-menu {
		.site-branding {
			padding-top: 1rem;
			@include breakpoint(medium) {
				padding-top: 2.5rem;
			}
		}
		#main-nav {
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 100%;
			width: 72vw;
			min-width: 315px;
			transform-origin: left top;
			transform: rotate(90deg) translate(0, 25%);
			padding-right: 2rem;
			
			@include breakpoint(medium) {
				transform: rotate(90deg) translate(-2vw, 25%);
			}
			
			@include breakpoint(tablet) {
				transform: rotate(90deg) translate(-12vw, 25%);
				min-width: 100vh;
				max-width: 900px;
			}
			
			@include breakpoint(large) {
				transform: rotate(90deg) translate(-2vw, 25%);
				padding-right: 9rem;
			}
			
			@media (min-width: 1250px) {
				transform: rotate(90deg) translate(0, 25%);
				padding: 0;
			}
			
			>li {
				margin: 0 .3rem 0rem;
				@media (min-width: 1250px) {
					margin: 0 1.45rem 0rem;	
				}
				> a {
					font-family: $font-header;
					font-size: rem-calc(16);
					line-height: 1;
					text-transform: uppercase;
					
					@include breakpoint(medium down) {
						margin: 0;
						padding: 2vw;
					}
					
					@include breakpoint(medium) {
						font-size: rem-calc(22);
					}
					
					@include breakpoint(tablet) {
						font-size: rem-calc(32);
					}
					
					span {
						&:before {
							content: '';
							width: calc(100% - 1rem);
							position: absolute;
							top: 0;
							height: 11px;
							background-color: transparent;
						}
					}
					
				&:hover {

				}
					
				}
				
			&.is-active,
			&.current-menu-ancestor {
				span:before {
					background-color: $white;
				}
			}
				
			&.menu-item-has-children {
				
				ul.submenu {
					li {
						a {

							
						&:hover {

						}
							
						}
						
					}
				}
	
			}

			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 36px;
				    height: 4px;
				    background-color: $white;
					transition: all .3s ease;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
				
			&.clicked {
				span {
					&:nth-child(1) {
						top: 4px;
						transform: translate(0px, 12px) rotate(-45deg);
					}
			
					&:nth-child(2) {
						top: 16px;
						left: 50%;
						right: 100%;
						width: 0;
					}
					
					&:nth-child(3) {
						bottom: 4px;
						transform: translate(0px, -12px) rotate(45deg);
					}
				}				
			}
			    
		    }
		    
		}
	
	}
	
}