.home-hero {
	.top {
		.left {
			padding-top: 45.134vw;
			padding-bottom: 5vw;
			position: relative;
			.bg {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100vw;
				left: -100vw;
			}
			h1 {
				font-size: rem-calc(120);
				font-size: 9vw;
				font-size: clamp(rem-calc(34), 9vw, rem-calc(120));
			}
			@include breakpoint(tablet) {

			}
			@media (min-width: 1204px) {
				padding-top: 34rem;	
				padding-bottom: 3.8rem;
			}
		}
		.img-wrap {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			max-width: 720px;
			overflow: hidden;
			width: 65vw;
			@media (min-width: 1550px) {
				width: 50%;
			}
			img {
				display: block;
				object-position: right;
				transform: translateX(2vw);
			}
		}
	}
	.bottom {
		p {
			font-size: rem-calc(16);
			margin-bottom: 0;
			line-height: 1.33333;
			padding: 1.68rem 0 1.6rem;
			max-width: 400px;
			@include breakpoint(medium) {
				padding: 2.68rem 0 2.6rem;
			}
			@include breakpoint(tablet) {
				padding: 3.68rem 0 3.6rem;
				font-size: rem-calc(24);
			}
		}
		.inner {
			padding: 1rem 1rem 1rem 3rem;
			justify-content: flex-start;
			@include breakpoint(medium) {
				padding: 2rem;
			}
			@include breakpoint(tablet) {
				padding: 3rem;
				justify-content: center;
			}
			h2 {
				margin: 0;
			}
		}
	}
}