.quote.module {
	padding-top: rem-calc(55);
	padding-bottom: rem-calc(55);
	@include breakpoint(medium) {
		padding-top: rem-calc(80);
		padding-bottom: rem-calc(80);
	}
	h2 {
		font-size: rem-calc(60);
		font-style: normal;
		line-height: .9;
		letter-spacing: .04em;
		margin-bottom: 0.242em;
		color: transparent;
		-webkit-text-stroke-width: 1px;
		  -webkit-text-stroke-color: $color-eggplant;
		  
		@include breakpoint(medium) {
			font-size: rem-calc(80);
		}
	}
	h5 {
		margin-bottom: rem-calc(36);
	}
}