.section-header {
	.inner {
		padding: 1.083rem 0 .98rem;
		@include breakpoint(medium) {
			padding: 3.29rem 0 3.038rem;
		}
		@include breakpoint(tablet) {
			padding: 4.7rem 0 4.34rem;
		}
		h2 {
			margin-bottom: 0;
		}
	}
	.align-right {
		.bg {
			left: -12.6%;
		}
	}
}