.streaming-platforms {
	padding-bottom: rem-calc(32);
	
	@include breakpoint(medium) {
		text-align: center;
		padding-top: rem-calc(80);
		padding-bottom: rem-calc(80);
	}
	.left {
		margin-bottom: 1rem;
	}
	.platform-icon-links {
		@include breakpoint(medium) {
			justify-content: center;
		}
	}
	@include breakpoint(medium) {
		text-align: left;
		.left {
			margin-bottom: 0;
			text-align: right;
		}
		.platform-icon-links {
			padding-top: rem-calc(12);
			justify-content: flex-start;
		}
	}
}