.video-gallery {
	padding-top: rem-calc(40);
	.images-wrap {
		> .cell > a {
			display: block;
			height: calc(27.939vw - 0.53125rem);
			@media screen and (min-width: 1140px) {
				height: 310px;
			}
		}
	}
	.single-video-wrap {
		svg {
			max-width: clamp(60px, 10vw, 100%);
		}
	}
	.gallery-mosaic {
		svg {
			max-width: clamp(26px, 5vw, 100%);
		}
	}
}